@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css?family=Righteous');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #202020;
}

nav {
    position: fixed;
    font-family: "Righteous", sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 100px;
    background: #202020;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

nav .navbar {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0 50px;
}

.navbar .logo a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    user-select: none;
}

nav .navbar .nav-links {
    line-height: 100px;
    height: 100%;
}

nav .navbar .links {
    display: flex;
}

nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
    user-select: none;
}

nav .navbar .links li .active {
    color: #d5bb01;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

nav .navbar .links li a:hover,
nav .navbar .links li .arrow:hover {
    color: #d5bb01;
}

nav .navbar .links li:hover {
    color: #d5bb01;
    transition: 0.3s;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
    transform: rotate(180deg);
}

nav .navbar .links li .arrow {
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
    position: absolute;
    top: 100px;
    left: 0;
    line-height: 40px;
    background: #272a31;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
    display: block;
}

.navbar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.navbar .links li .sub-menu :hover {
    background: rgb(66, 66, 66);
    color: #d5bb01;
}

.navbar .links li .sub-menu .more-arrow {
    line-height: 40px;
}

.navbar .links li .htmlCss-more-sub-menu {
    line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
    display: block;
}

.navbar .search-box {
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #d5bb01;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .search-box i:hover {
    color: #272a31;
    background-color: #d5bb01;
}

.navbar .search-box .input-box {
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #1a3e75;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #d5bb01;
}

.search-box .input-box::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #d5bb01;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}

.search-box .input-box input {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
    font-family: 'SF Pro Display', sans-serif;
}

.navbar .nav-links .sidebar-logo {
    display: none;
}

.navbar .bx-menu {
    display: none;
}

@media (max-width:920px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .logo a {
        font-size: 27px;
    }

    nav .navbar .links li {
        padding: 0 10px;
        white-space: nowrap;
    }

    nav .navbar .links li a {
        font-size: 15px;
    }

    .navbar .links li .sub-menu li {
        padding: 0 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

@media (max-width:800px) {
    nav {
        position: relative;
        height: 75px;
    }

    .navbar .bx-menu {
        display: block;
    }

    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background: #202020;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }

    .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar-logo .logo-name {
        font-size: 25px;
        color: #fff;
    }

    .sidebar-logo i,
    .navbar .bx-menu {
        font-size: 25px;
        color: #d5bb01;
    }

    nav .navbar .links {
        display: block;
        margin-top: 20px;
    }

    nav .navbar .links li .arrow {
        line-height: 40px;
    }

    nav .navbar .links li {
        display: block;
    }

    nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        /* left: -10%; */
        box-shadow: none;
        display: none;
    }

    nav .navbar .links li .sub-menu li {
        border-bottom: none;
    }

    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
        position: relative;
        left: 0;
    }

    .navbar .links li .sub-menu .more-sub-menu li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
        transform: rotate(0deg);
    }

    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
    }

    .navbar .links li .sub-menu .more span {
        /* background: red; */
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }

    .links li .sub-menu .more:hover .more-sub-menu {
        display: none;
    }

    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu {
        display: none;
    }

    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu {
        display: block;
    }

    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow {
        transform: rotate(180deg);
    }

    .navbar .nav-links.show2 .links .more-arrow {
        transform: rotate(90deg);
    }

    .navbar .links li .sub-menu li {
        padding: 0 0px;
        text-decoration: underline;
        text-decoration-color: #ddd;
    }

    .navbar .links li .sub-menu a {
        color: #ddd;
        font-size: 15px;
        font-weight: 400;
    }
}

@media (max-width:370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }
}

/* ========== Banner =========== */

.banner {
    position: relative;
    width: 100%;
    max-height: 430px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    pointer-events: none;
    /* Resmin Çalınmasına Karşı Önlem */
}

.banner-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.banner-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: "Righteous", sans-serif;
    font-weight: 100;
}

.banner-content .btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .banner-content h2 {
        font-size: 1.5rem;
    }

    .banner {
        position: relative;
        width: 100%;
        max-height: 900px;
        overflow: hidden;
    }
}

/* ========== BreadCrumb =========== */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #7c7c7c20;
    border: 1px solid #7c7c7c20;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
    font-family: "Righteous", sans-serif;
}

ul.breadcrumb li a {
    color: #d5bb01;
    text-decoration: none;
    font-weight: 100;
    font-family: "Righteous", sans-serif;
    user-select: none;
}

ul.breadcrumb li a:hover {
    color: #b49f00;
    text-decoration: underline;
}

@media only screen and (min-width: 991px) {
    ul.breadcrumb {
        padding: 10px 10%;
        list-style: none;
    }
}

.card-iletisim-container {
    position: relative;
    background-color: #272a31;
    padding: 6rem;
    width: 100%;
}

@media (max-width: 768px) {
    .card-iletisim-container {
        padding: 1rem;
    }

    .harita-head {
        font-size: 2.0rem;
    }
}

.card-a-text {
    position: relative;
    top: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #007bff;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.col,
.col-auto,
.col-lg-6,
.col-xl-3,
.col-xl-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
}

.col-auto {
    width: auto;
    max-width: none;
    flex: 0 0 auto;
}

@media (min-width: 992px) {
    .col-lg-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

@media (min-width: 1200px) {
    .col-xl-3 {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .col-xl-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-family: 'SF Pro Display', sans-serif;
}

.card-body {
    padding: 1.5rem;
    flex: 1 1 auto;
}

.card-title {
    margin-bottom: 1.25rem;
}


.bg-info {
    background-color: #189e0e !important;
}

.bg-warning {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.bg-danger {
    background-color: #193e75 !important;
}

a.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
    background-color: #ec0c38 !important;
}


.rounded-circle {
    border-radius: 4px !important;
}

.align-items-center {
    align-items: center !important;
}

@media (min-width: 1200px) {
    .justify-content-xl-between {
        justify-content: space-between !important;
    }
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mr-2 {
    margin-right: .5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.pb-8 {
    padding-bottom: 8rem !important;
}

.m-auto {
    margin: auto !important;
}

@media (min-width: 768px) {
    .pt-md-8 {
        padding-top: 8rem !important;
    }
}

@media (min-width: 1200px) {
    .mb-xl-0 {
        margin-bottom: 0 !important;
    }
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-center {
    text-align: center !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.font-weight-bold {
    font-weight: 600 !important;
}

.text-white {
    color: #fff !important;
}

.text-white {
    color: #fff !important;
}

a.text-white:hover,
a.text-white:focus {
    color: #e6e6e6 !important;
}

.text-muted {
    color: #8898aa !important;
}

.bg-green {
    background-color: #1EA362 !important;
}

.card-stats .card-body {
    padding: 1rem 1.5rem;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.icon i {
    font-size: 2.25rem;
}

.icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon-shape i {
    font-size: 1.25rem;
}

/* ========== Haritada Biz =========== */

.harita-head {
    position: relative;
    margin-top: 1.5rem;
    font-size: 2.5rem;
    margin-bottom: 2.0rem;
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
    color: #ddd;
}

.harita-container {
    position: relative;
    margin-top: 1.0rem;
    padding: 0 30px;
    width: 100%;
    height: 400px;
}

.harita-container iframe {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    box-shadow: #ddd 1px 1px 1px 1px;
}

@media (max-width: 460px) {
    .harita-container {
        padding: 0 10px;
    }
}

/* ========== İletisim Kutusu =========== */

.iletisim-kutusu-section {
    position: relative;
    margin-top: 1.0rem;
    padding: 0 30px;
    width: 100%;
    height: 150px;
}

/* Social Media Icons */

.social-media-box {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 3.0rem;
    margin-bottom: 2.0rem;
    float: left;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(33, 33, 33, 0.5);
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
}

.social-icon img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    transition: transform 0.3s;
    pointer-events: none;
}

.social-icon:hover img {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .social-media-box {
        flex-direction: column;
        align-items: center;
        margin: 10px;
        flex-direction: row;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .social-icon {
        margin: 10px 0;
        padding: 12px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media (max-width: 460px) {
    .iletisim-kutusu-section {
        padding: 0 10px;
    }
}

/* ========== Mobil İletisim Bar =========== */

@media only screen and (min-width: 1024px) {
    .mobilbarwhatsapp {
        visibility: hidden;
        display: none;
    }

    .mobilbarhemenara {
        visibility: hidden;
        display: none;
    }
}

.mobilbararkaplan {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    z-index: 9999;
}

.mobilbararkaplan a {
    color: white;
    text-decoration: none;
    font-family: 'SF Pro Display', sans-serif;
}

.mobilbarwhatsapp,
.mobilbarhemenara {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.mobilbarwhatsapp i,
.mobilbarhemenara i {
    margin-right: 10px;
}

.mobilbarwhatsapp {
    float: left;
    background: #189e0e;
}

.mobilbarhemenara {
    float: right;
    background: #085fcb;
}

/* ========== Section Progress =========== */

#progress {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    display: none;
    place-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 10;
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 5px;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #001a2e;
}

@media (max-width: 768px) {
    #progress {
        visibility: visible;
        /* Mobil Görünüme Geçtiğinde Kaybolur */
    }
}

@media (max-width: 992px) {
    #progress {
        bottom: 80px;
        /* Tablet Görünümünde Gözükür */
    }
}

/* ========== Footer =========== */

.footer-section {
    position: relative;
    top: 10rem;
    background: #111;
    height: auto;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: #d5bb01;
    user-select: none;
    font-family: "Righteous", sans-serif;
}

.footer-content p {
    max-width: 639px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-family: 'SF Pro Display', sans-serif;
    color: #ddd;
    user-select: none;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}

.socials a:hover i {
    color: #25d366;
}

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    font-family: 'SF Pro Display', sans-serif;
    user-select: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    font-family: 'SF Pro Display', sans-serif;
    color: #fff;
    user-select: none;
}

@media screen and (max-width: 768px) {
    .footer-content p {
        max-width: 300px;
    }
}